.page {
  color: var(--text-color);
  font-family: var(--main-font);
  background-color: var(--bg-color);
  background-image: var(--image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 375px;
}

.header {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  min-height: 668px;
  padding: 10px 10px 0 10px;
  block-size: 100vh;
}

.decorated-zone {
  position: relative;
  color: var(--accent-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-element {
  position: absolute;
  top: 11px;
  right: 29px;
  display: flex;
  padding-right: 10px;
  font-size: var(--font-size);
}

.decorated-element::after {
  content: '';
  position: absolute;
  top: 7px;
  left: 42px;
  border-radius: 100%;
  box-shadow: 0 0 5px 2px var(--accent-color);
  background: var(--accent-color);
  inline-size: 8px;
  block-size: 8px;
}

.header__theme-menu {
  display: grid;
  justify-content: end;
  margin-bottom: 6px;
  font-size: var(--font-size);
}

.header__theme-menu-list {
  display: grid;
  gap: 11px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 0 11px 0 12px;
  padding-bottom: 2px;
  color: var(--accent-color);
  font: inherit;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  block-size: 24px;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 40%);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--accent-color);
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  padding-bottom: 5px;
  color: var(--focus-color);
  font-family: inherit;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__content {
  display: grid;
  align-items: center;
  margin-bottom: 12px;
}

.title-decor {
  display: grid;
  color: var(--bg-color);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 23.4px;
  background-color: var(--accent-color);
  inline-size: 100%;
}



/* MAIN - ОСНОВНОЙ КОНТЕНТ */



.content {
  margin-top: 40px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: var(--font-size);
  line-height: 23.4px;
}

.cards__block {
  display: grid;
}

.cards__block .content__card:last-child {
  margin-block-end: 50px;
}

.cards__block_columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
}

.cards__block_columns .content__card:last-child {
  margin-block-end: 50px;
}

.cards__title {
  margin-block-end: 20px;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: var(--font-size);
}

.accent {
  text-decoration: none;
  text-shadow: 1px 1px 0px #FF0070;
}

.accent:hover {
  border-block-end: 1px solid var(--text-color);
}

.accent:focus {
  outline: none;
}

.accent:focus-visible {
  outline: 1px solid var(--text-color);
}

.title-decor.card {
  margin-block-end: 10px;
  background-color: var(--accent-color);
  inline-size: 100%;
}

.title-decor.advice {
  margin-block-end: 10px;
  font-weight: 400;
  background-color: var(--accent-color);
  inline-size: 100%;
}

.content__card-list :first-child.title-decor.card {
  margin-block-end: 20px;
}

.content__card:not(:last-child) {
  margin-block-end: 20px;
}

.card__text:not(:last-child) {
  margin-block-end: 20px;
}



/* GALERY - КАРТИНКИ */



.galery {
  margin-bottom: 40px;
}

.title-decor.galery {
  margin-block-end: 10px;
}

.galery__picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.picture {
  inline-size: 100%;
  min-block-size: 100%;
}



/* FOOTER - ПОДВАЛ */



.footer__block {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 668px;
  padding-right: 10px;
  padding-left: 10px;
  block-size: 100vh;
}

.footer__title {
  color: var(--focus-color);
  font-family: inherit;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color);
}



/* МЕДИАВЫРАЖЕНИЯ ДЛЯ АДАПТИВА */



@media (1024px > width >=768px) {

  .page {
    min-inline-size: 768px;
  }

  .header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: (1fr min-content 1fr);
    min-height: 1024px;
    padding: 20px 20px 0 20px;
    block-size: 100vh;
  }

  .header__title {
    margin-bottom: 7px;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__content {
    justify-items: end;
    margin-bottom: 33px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .decorated-element {
    top: 21px;
    right: 38px;
    padding-right: 9px;
  }

  .title-decor {
    inline-size: 50%;
  }



  /* MAIN - ОСНОВНОЙ КОНТЕНТ ДЛЯ АДАПТИВА */



  .content {
    margin-block-start: 60px;
    padding: 0 20px 0 20px;
  }

  .cards__block {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 19px;
  }

  .cards__block .content__card:last-child {
    margin-block-end: 80px;
  }

  .cards__block_columns {
    display: grid;
    grid-template-columns: 1fr;
  }

  .cards__block_columns .content__card:first-of-type {
    margin-block-start: 20px;
  }

  .cards__block_columns .content__card:last-child {
    margin-block-end: 60px;
  }

  .cards__title {
    max-inline-size: 230px;
    margin-block-end: 0;
  }

  .content__card:not(:last-child) {
    margin-block-end: 0;
  }

  .card__text {
    margin-block-end: 20px;
  }



  /* GALERY - КАРТИНКИ ДЛЯ АДАПТИВА*/



  .galery {
    margin-block-end: 60px;
  }

  .title-decor.galery {
    margin-block-end: 20px;
    inline-size: 100%;
  }

  .galery__picture {
    display: grid;
    gap: 20px;
  }

  .picture {
    margin: 0;
    object-fit: cover;
  }

  .picture:not(:last-child) {
    margin-block-end: 0;
  }

  .picture:first-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .picture:nth-of-type(2) {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .picture:nth-of-type(3) {
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .picture:nth-of-type(5) {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .footer__block {
    min-height: 1024px;
    padding: 20px 20px 20px 20px;
    block-size: 100vh;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}



/* МЕДИАВЫРАЖЕНИЯ ДЛЯ АДАПТИВА */



@media (width >=1024px) {

  .page {
    min-inline-size: 1024px;
  }

  .header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-height: 768px;
    padding: 20px 20px 0 20px;
    block-size: 100vh;
  }

  .header__theme-menu {
    justify-content: center;
    margin-bottom: 223px;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .header__title {
    display: grid;
    margin-bottom: 15px;
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__content {
    display: grid;
    justify-items: end;
    margin-bottom: 90px;
  }

  .title-decor {
    inline-size: 50%;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .decorated-element {
    top: 21px;
    right: 38px;
    padding-right: 9px;
  }



  /* MAIN - ОСНОВНОЙ КОНТЕНТ ДЛЯ АДАПТИВА */



  .content {
    margin-block-start: 60px;
    padding: 0 20px 0 20px;
  }

  .cards__block {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 12px;
  }

  .cards__title {
    margin-block-end: 0px;
  }

  .cards__block .content__card:last-child {
    margin-block-end: 80px;
  }

  .cards__block_columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .cards__block_columns>.cards__title {
    grid-column: 1 / -1;
    max-width: 300px;
  }

  .cards__block_columns .content__card {
    margin-block-end: 0;
  }

  .cards__block_columns .content__card:last-child {
    margin-block-end: 80px;
  }




  /* GALERY - КАРТИНКИ ДЛЯ АДАПТИВА*/



  .galery {
    margin-block-end: 60px;
  }

  .title-decor.galery {
    margin-block-end: 20px;
    inline-size: 100%;
  }

  .galery__picture {
    display: grid;
    gap: 20px;
  }

  .picture {
    margin: 0;
    object-fit: cover;
    inline-size: 100%;
  }

  .picture:not(:last-child) {
    margin-block-end: 0;
  }

  .picture:first-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .picture:nth-of-type(2) {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .picture:nth-of-type(3) {
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .picture:nth-of-type(5) {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .footer__block {
    min-height: 768px;
    padding: 20px 20px 20px 20px;
    block-size: 100vh;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}